/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-family: 'Space Mono', monospace;
  background-color: #003459;
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 0 auto;
  height: 700px;
  margin-top: 32px;
  margin-bottom: 20px;
  border-radius: 2%;
}

h1 {
  text-align: center;
}

input, button {
  display: block;
  margin: 0 auto;
}

button {
  margin-top: 15px;
}

#text {
  border: black 1px solid;
  width: auto;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
